*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/efficientdet-lite0.tflite
/app/src/main/assets/efficientdet-lite1.tflite
/app/src/main/assets/efficientdet-lite2.tflite
/app/src/main/assets/mobilenetv1.tflite
/app/src/main/assets/yamnet.tflite
